@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

 /* COOLORS - PALETA DE COLORES: https://coolors.co/001d3d-1e96fc-f8f4f9-ffcb47-c86fc9 */

:root {


    --main-font: 'Inter';
  
    --color-bg: #001d3d;
    --color-main: #1e96fc;
    --color-white: #f8f4f9;
    --color-alt: #ffcb47;
    --color-remark: #c86fc9;
}

* {
    font-family: var(--main-font);
}
header {
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 15px -10px black;
    z-index: 10;
}
.navbar {
    background-color: var(--color-bg);
    color: var(--color-white);
}
.menu-contenedor {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.div-logo {
    margin: auto;
    text-align: center;
    padding: 0.5rem;
    padding-left: 3rem;
    background: url(../img/cloudy.svg) no-repeat center left;
    background-size: 30px;
}
.logo-rapiclima {
    margin-bottom: 0;
    font-weight: 700;
    
    font-size: 1.25rem;
    color: var(--color-white);
    text-decoration: none;
}
.logo-rapiclima:hover {
    color: var(--color-alt);
}
main {
    color: var(--color-white);
    background-color: var(--color-bg);
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
}
.buscador-cont .buscador-input{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.buscador-cont .buscador-input label {
    font-size:3rem;
    font-weight: 700;
    color: var(--color-alt);
}
.buscador-cont .buscador-input input {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-remark);
    padding: 0.5rem 2rem;
    width: 50vw;
    border-radius: 6px;
    border: none;
    transition: transform .3s ease, box-shadow .3s ease;
    margin-left: auto;
    margin-right: auto;
}
.buscador-cont .buscador-input input:focus {
    box-shadow: 0 8px 15px -5px black;
    border: none;
    outline: none;
    transform: translateY(-5px);
}

.buscador-cont .buscador-input a {
    background-color: var(--color-remark);
    width: 25%;
    color: var(--color-white);
    text-decoration: none;
    padding: 1rem 0;
    border-radius: 6px;
    margin: auto;
    transition: transform .3s ease, box-shadow .3s ease, background .3s ease;
    font-weight: 700;
}
.buscador-cont .buscador-input a:hover {
    box-shadow: 0 8px 15px -5px black;
    border: none;
    outline: none;
    transform: translateY(-5px);
    background-color: var(--color-alt);
}

.buscador-cont .buscador-input label, input, a {
    margin-bottom: 3rem;
}
.div-busc-menu {
    margin: auto;
}
.menu-buscador-input {
    margin-bottom: 0;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: .5rem;
}
.div-busc-menu a {
    padding-left: 1rem;
    text-decoration: none;
    color: var(--color-remark);
    transition: color .3 ease;
}
.div-busc-menu a:hover {
    color: var(--color-alt);
}
.nombre-lugar {
    margin: auto;
}
.not-found {
    margin: auto;
    position: absolute;
    bottom: 9rem;
}
.menu-not-found {
    position: absolute;
    bottom: -3rem;
}
.section-datos {
    display: flex;
    min-width: 75vw;
}
.mapa {
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 6px;
}
.info-ciudad {
    text-align: center;
    width: 50%;
}
.temp-icon {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: var(--color-main);
    border-radius: 6px;
    padding: 2rem;
    box-shadow: 0 8px 15px -5px black;
}
.temperatura {
    font-size: 4rem;
}
.clima-desc {
    font-size: 1.15rem;
}
.mas-info-clima {
    list-style-type: none;
    padding: 0;
    font-size: 1.15rem;
    width: 50%;
    margin: auto;
}
.mas-info-clima li:not(:first-child) {
    text-align: left;
}
.mas-info-clima li {
    margin-bottom: 1rem;
}
.max-min {
    display: inline-block;
    text-align: center;
}
.mas-info-clima li:first-child{
    padding-right: 3rem;
}
.max-min span {
    display: block;
}
.negrita {
    font-weight: 700;
}



.lluvia-icon {
    background: url(../img/icons-clima/023-thunderstorm.svg) no-repeat center center;
}
.dia-desp-icon {
    background: url(../img/icons-clima/013-sun.svg) no-repeat center center;
}
.dia-lluvia-icon {
    background: url(../img/icons-clima/001-rainy\ day.svg) no-repeat center center;
}
.dia-nublado-icon {
    background: url(../img/icons-clima/049-cloudy.svg) no-repeat center center;
}
.nieve-icon {
    background: url(../img/icons-clima/018-snowflake.svg) no-repeat center center;
}
.noche-desp-icon {
    background: url(../img/icons-clima/011-half\ moon.svg) no-repeat center center;
}
.noche-lluvia-icon {
    background: url(../img/icons-clima/012-rainy\ day.svg) no-repeat center center;
}
.noche-nublado-icon {
    background: url(../img/icons-clima/050-cloudy.svg) no-repeat center center;
}
.nublado-icon {
    background: url(../img/icons-clima/044-cloud.svg) no-repeat center center;
}
.neblina-icon {
    background: url(../img/icons-clima/024-graph.svg) no-repeat center center;
}
.icon {
    background-size: 100%;
    padding: 2.5rem;
}